Hello {{what}}!

<h4>Test array of objects</h4>
<dl rel="test-list">
  {{#list}}
     <dt>{{title}}:</dt>
     <dd>{{data}}</dd>
  {{/list}}
</dl>

<h4>Test Lambdas (should reverse &quot;{{what}}&quot;)</h4>
<div rel="test-reverse-lambda">
  {{#reverseString}}{{what}}{{/reverseString}}
</div>

<h4>Test Lambdas within array context</h4>
<table rel="test-reverse-lambda-with-context">
  {{#list}}
  <tr>
    <th>{{#reverseString}}{{title}}{{/reverseString}}</th>
    <td>{{#reverseString}}{{data}}{{/reverseString}}</td>
  </tr>
  {{/list}}
</table>

<p>-----[ > temp ]-----</p>

{{> temp}}

{{#yield-footer}}
  <p>I'm a footer, defined in index.html</p>
{{/yield-footer}}
