Hello {{what}}!

<h4>Test array of objects</h4>
<dl rel="test-list">
  {{#list}}
     <dt>{{title}}:</dt>
     <dd>{{data}}</dd>
  {{/list}}
</dl>

<h4>Test Lambdas (should reverse &quot;{{what}}&quot;)</h4>
<div rel="test-reverse-lambda">
  {{#lambdas.reverseString}}{{what}}{{/lambdas.reverseString}}
</div>

<h4>Test Lambdas within array context</h4>
<table rel="test-reverse-lambda-with-context">
  {{#list}}
  <tr>
    <th>{{#lambdas.reverseString}}{{title}}{{/lambdas.reverseString}}</th>
    <td>{{#lambdas.reverseString}}{{data}}{{/lambdas.reverseString}}</td>
  </tr>
  {{/list}}
</table>

<h5>This second lambda is here to test that you can have more than one type of lambda</h5>
<div rel="test-uppercase-lambda">
  {{#lambdas.uppercase}}world{{/lambdas.uppercase}}
</div>

<h5>You can even nest your lambdas!</h5>
<div rel="test-nested-lambdas">
  {{#lambdas.reverseString}}{{#lambdas.uppercase}}{{what}}{{/lambdas.uppercase}}{{/lambdas.reverseString}}
</div>

<p>-----[ > temp ]-----</p>

{{> temp}}

{{#yield-footer}}
  <p>I'm a footer, defined in index.html</p>
{{/yield-footer}}
